</ul>
<p class="hr">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
    <pre>
< enjoy your stay at <%= @site_name %>! >
        \   ^__^
         \  (==)\_______
            (__)\       )\/\
                ||----w |
                ||     ||</pre>
<p class="hr">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
  </body>
</html>
