<html>
  <head>
    <title><%= @user %>'s <%= @site_name %> page</title>
  </head>
  <body>
    <style type="text/css">
      body { background-color: black; color: rgb(255,225,148); padding: 4em; font-family: Ubuntu Mono, DejaVu Sans Mono, Droid Sans Mono, Liberation Mono, Monospace; }
      a { color: rgb(0,255,0); }
      a:hover { color: white; }
      a:visited { color: rgb(0,192,0) }
      * { font-size: 12pt; }
    </style>
    <h1>~~~~this is <%= @user %>'s <%= @site_name %> page~~~~</h1>
    <p>Just log in with your secure internet shell to change this file!</p>
  </body>
</html>
