</ul>
<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
    <pre>
< enjoy your stay at <%= @site_name %>! >
        \   ^__^
         \  (==)\_______
            (__)\       )\/\
                ||----w |
                ||     ||</pre>
  </body>
</html>
