</ul>
<p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
    <pre style="font-family: DejaVu Sans Mono, Droid Sans Mono, Liberation Mono, Monospace">
< enjoy your stay at <%= @site_name %>! >
        \   ^__^
         \  (==)\_______
            (__)\       )\/\
                ||----w |
                ||     ||</pre>
  </body>
</html>
